@page "{id:int?}"
@model DoItInCpp.Pages.Snippets.DetailsModel
@using DoItInCpp.Utilities;
@using DoItInCpp.Models;

@{
    Layout = "_Erin_Layout";
    ViewData["Title"] = Model.Snippet.Name;
}

<div id="snippet-body" class="container p-5 my-4">
    <a href="javascript:history.go(-1)"><i class="bi bi-arrow-bar-left">Back</i></a>
	<h1>@Html.DisplayFor(model => model.Snippet.Name)</h1>
	<!--For now, using column layout: https://getbootstrap.com/docs/5.0/layout/columns/-->
	<div class="row justify-content-center">
		<div class="col-7 rounded-3">
			<pre class="bg-dark prettyprint linenums lang-cpp">@Html.DisplayFor(model => model.Snippet.Code)</pre>
		</div>
		<div class="col">
			<!--bootstrap badges: https://getbootstrap.com/docs/5.0/components/badge/-->
			<component type="typeof(DoItInCpp.Components.BadgeHeader)" param-Snip="@Model.Snippet" render-mode="Static" />
			<div id="documentation">
				<component type="typeof(DoItInCpp.Components.ParsedDescription)" param-Description="@Model.Snippet.Documentation" render-mode="Static" />
			</div>

			@if(Model.Snippet.AddOns != null && Model.Snippet.AddOns.Count != 0) 
			{
			<div class="add-on rounded-3">
                <i class="bi bi-lightbulb"></i> <h3>There is more to do with this code&#x21;</h3>
                <h5>Check out these pages for additional functionality:</h5>
                <hr>
				@foreach (AddOnInSnippet aois in Model.Snippet.AddOns)
				{
				<a asp-page="/AddOns/Details" asp-route-id="@aois.AddOnID">
					<h4>@aois.AddOn.Name</h4>
					<p>@aois.AddOn.Tagline</p>
				</a>
                <hr>
				}
            </div>
			}
        </div>
    </div>
</div>

<div id="more-like" class="container mt-4">
	<h2>More Like This</h2>
	<component type="typeof(DoItInCpp.Components.CardList)" param-Snippets="@Model.MoreLike" render-mode="Static" />
</div>