@page "{id:int?}"
@model DoItInCpp.Pages.Snippets.DetailsModel
@using DoItInCpp.Utilities;
@using DoItInCpp.Models;

@{
    Layout = "_Erin_Layout";
    ViewData["Title"] = Model.Snippet.Name;
}

<div id="snippet-body" class="container p-5 my-4">
    <a href="javascript:history.go(-1)"><i class="bi bi-arrow-bar-left">Back</i></a>
	<h1>@Html.DisplayFor(model => model.Snippet.Name)</h1>
	<!--For now, using column layout: https://getbootstrap.com/docs/5.0/layout/columns/-->
	<div class="row justify-content-center">
		<div class="col-7 rounded-3">
			<pre class="bg-dark prettyprint linenums lang-cpp">@Html.DisplayFor(model => model.Snippet.Code)</pre>
		</div>
		<div class="col">
			<!--bootstrap badges: https://getbootstrap.com/docs/5.0/components/badge/-->
			<div id="badge-header" class="badge-group mb-3">
				@if(Model.Snippet.Includes != null) 
				{
					foreach (var inc in Model.Snippet.Includes) 
					{
				<a asp-page="/Library" asp-route-groupBy="Include" asp-fragment=@inc.Include.Name>
					<span class="badge include">
						<code>
							&lt;@inc.Include.Name&gt;
						</code>
					</span>
				</a>
					}
				}
				@if(Model.Snippet.Categories != null) 
				{
					foreach (var inc in Model.Snippet.Categories) 
					{
				<a asp-page="/Library" asp-route-groupBy="Category" asp-fragment=@inc.Category.Name>
					<span class="badge category">
						@inc.Category.Name
					</span>
				</a>
					}
				}
				<a asp-page="/Library" asp-route-groupBy="Version" asp-fragment=@("C++" + Model.Snippet.Version.Year_XX)>
					<span class="badge version">
						C++@Html.DisplayFor(model => model.Snippet.Version.Year_XX)
					</span>
				</a>
			</div>
			<div id="documentation">
				@foreach (Parsers.Block block in Model.Desc.blocks)
				{
					@if(block.GetType() == typeof(Parsers.CodeBlock)) {
				<pre class="bg-dark prettyprint linenums lang-cpp">@((Parsers.CodeBlock)block).contents</pre>
					} else {
						// for each line in TextBlock
						@foreach (var line in ((Parsers.TextBlock)block).contents) {
							// for each segment of line
				<p>
							@foreach(var cont in line.contents) {
								if(cont.Key == Parsers.Line.Tag.code) {
					<code>@cont.Value</code>
								} else if(cont.Key == Parsers.Line.Tag.a) {
					<a href=@cont.Value.Split("](")[1] target="_blank">@cont.Value.Split("](")[0]</a>
								} else {
					@cont.Value
								}
							}
				</p>
						}
					}
				}
			</div>

			@if(Model.Snippet.AddOns != null && Model.Snippet.AddOns.Count != 0) 
			{
			<div class="add-on rounded-3">
                <i class="bi bi-lightbulb"></i> <h3>There is more to do with this code&#x21;</h3>
                <h5>Check out these pages for additional functionality:</h5>
                <hr>
				@foreach (AddOnInSnippet aois in Model.Snippet.AddOns)
				{
				<a asp-page="/AddOns/Details" asp-route-id="@aois.AddOnID">
					<h4>@aois.AddOn.Name</h4>
					<p>@aois.AddOn.Tagline</p>
				</a>
                <hr>
				}
            </div>
			}
        </div>
    </div>
</div>

	


<div id="more-like" class="container mt-4">
	<h2>More Like This</h2>
	<div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var snip in Model.MoreLike)
        {
        <div class="col">
            <div class="card">
                <div class="card-body rounded-3">
                    <h4 class="card-title"><a asp-page="/Snippets/Details" asp-route-id="@snip.ID" class="stretched-link">@snip.Name</a></h4>
                    <p class="card-text">@snip.Description</p>
                    <div class=" badge-footer badge-group">
                        @if(snip.Includes != null) 
                        {
                            foreach (var inc in snip.Includes) 
                            {
                        <span class="badge include">
                            <code>
                                &lt;@inc.Include.Name&gt;
                            </code>
                        </span>
                            }
                        }
                        @if(snip.Categories != null) 
                        {
                            foreach (var inc in snip.Categories) 
                            {
                        <span class="badge category">
                                @inc.Category.Name
                        </span>
                            }
                        }
                        <span class="badge version">
                            C++@snip.Version.Year_XX
                        </span>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
</div>